<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin | Certificate Automation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>    </head>
    <body>
        <div class="container" style="display: flex; flex-direction:column; justify-content: start; " >
            <header>
                <img src="/logo.png" width="100"/>
                <div class="header__list">
                    <div class="header__list__item active"><i class="fa-solid fa-certificate"></i> &nbsp; Certificates</div>
                    <div class="header__list__item"><a href="/admin/users"><i class="fa-solid fa-user"></i> &nbsp; Users</a></div>
                    <div class="header__list__item"><i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp; Logout</div>

                </div>
            </header>
            <div class="addCertificate">
                
                <button><a href="/create">+</a></button>
                <p class="my-3"><a href="/create">Create New Certificate</a></p>
                <br/>
                <hr style="width: 500px;"/>
                
            </div>
            <br/>
            <div class="displayCertificates">
                <!-- <div class="no__certificates">
                    <div class="no__certificates__icon"><i class="fa-solid fa-store-slash"></i></div>
                    <p>Oops! no certificates found, click on the
                         create Certificate button and get started now</p>
                </div> -->
                <div class="certificate__display" onclick="openModal()">
                    <img src="/mail.jpg" class="cert__Image"/>
                    <div class="event__Display">
                        Event Name Here
                    </div>
                </div>
            </div>
            <div class="overlay" id="overlay" onclick="closeModal()"></div>
            <div class="eventModal" id="modal">
                <div class="eventModal__header">
                    <div>Certificate Details</div>
                    <div style="cursor: pointer;" onclick="closeModal()">X</div>
                </div>
                <div class="eventModal__Listing">
                    <div class="eventModal__titles">Event Name: </div>
                    <div>template</div>
                </div>
                <div class="eventModal__Listing">
                    <div class="eventModal__titles">Number of Certificates: </div>
                    <div>template</div>
                </div>
                <div class="eventModal__Listing">
                    <div class="eventModal__titles">Image: </div>
                    <div>template</div>
                </div>
                <div class="eventModal__Listing">
                    <div class="eventModal__titles">Email Body: </div>
                    <div>template</div>
                </div>
                
            </div>

        </div>
        <script>
            const openModal= ()=>{
                document.getElementById('modal').style.display = "flex";
                document.getElementById('overlay').style.display = "flex";

            }
            const closeModal= ()=>{
                document.getElementById('modal').style.display = "none";
                document.getElementById('overlay').style.display = "none";

            }
        </script>
    </body>
</html>