<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

</head>
<body>
    <div class="container">
        <div class="card pCard" id="card">
            <img src="<% user.imagePath %>"/>
            <div id=1 class="d-none"><%= user.variableData.variables %></div>
            <div id=2 class="d-none"></div>
        </div>
        <div class="actions">
            <div class="genCertificates circle" onclick="saveDiv()"><i class="fa-solid fa-download"></i></div>
        </div>

    </div>
    <script>
       let arr = document.getElementById(1).innerHTML.split(',');
       console.log(arr.length)
       for(let i =0 ; i<arr.length;i++){
       let n = document.createElement('div');
    //  inner HTML
        let variables = '{{user.variableData.variables}}';
        variables = variables.slice(1,-1).split(',');
       let v = variables[i].slice(5,-5).replace(/;/g, "");
        let user = '{{user}}';
        user= user.split(', &#39;image_path&#39;:')[0].split(', &#39;');
        console.log(user);
        for(let j = 1;j<user.length;j++){
            let u1 = user[j].replace(/&#39;/g, "").split(':');
            console.log(u1);
            if(u1[0]===v){
                n.innerHTML = u1[1];
            }
        }
    //    Font
        let fonts = '{{user.variableData.fonts}}';
        fonts = fonts.slice(1,-1).split(',');
       n.style.fontFamily=fonts[i].slice(10,-10).replace(/;/g, "");
    //  position
       n.style.position='absolute';
    // top
        let tops = '{{user.variableData.tops}}';
        tops = tops.slice(1,-1).split(',');
       n.style.top = tops[i].replace(/;/g, "")+'px';
    // left
        let lefts = '{{user.variableData.lefts}}';
        lefts = lefts.slice(1,-1).split(',');
       n.style.left = lefts[i].replace(/;/g, "")+'px';
    // size
        let sizes = '{{user.variableData.sizes}}';
        sizes = sizes.slice(1,-1).split(',');
       n.style.fontSize = sizes[i].slice(5,-5).replace(/;/g, "");
    // color
        let colors = '{{user.variableData.colors}}';
        colors = colors.slice(1,-1).split('&#39;, &#39;');
        console.log(colors[i]);
       n.style.color = 'rgb'+colors[i].replace(/&#39;/g, "");

       $( document ).ready(function() {
        // Center Aligned
        let aligns = '{{user.variableData.aligns}}';
        aligns = aligns.slice(1,-1).split(',');
       let a = aligns[i].slice(5,-5).replace(/;/g, "");
       if(a =='center'){
        var leftVal = parseInt(n.style.left, 10);
        n.style.left = (leftVal - (n.clientWidth/2)) + "px";
       }else if(a =='right'){
        // Aligned Right
        var leftVal = parseInt(n.style.left, 10);
        n.style.left = (leftVal - (n.clientWidth)) + "px";
       }
        });
       document.getElementById('card').appendChild(n);
       }
    </script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script>
            
       $( document ).ready(function() {
        var specialElementHandler ={
            "#editor":function(element, renderer){
                return true;
            }
        }
       });
            function saveDiv() {
                var doc = new jsPDF();
                
                doc.fromHTML($('#card'.html(),15,15,{
                    "width":170,
                    "elementHandlers": specialElementHandler
                }));
                doc.save('div.pdf');
            }
    </script>
</body>
</html>