<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <link rel="stylesheet" href="/styles.css"/>

</head>
<body class="container">
    <div class="card">
        <h3>Send Certificates through Mail:</h3>
        <br/>
        <hr/>
        <br/>
        <form action="" method="POST" >
            <div>
                <input type="text" class="form-control" name="subject" placeholder="Subject">
            </div>
            <div>
                <textarea type="text" class="form-control" name="body" placeholder="Body" style="width: 100%; height:300px;"></textarea>
            </div>
            <button type="submit" class="genCertificates">Send Mails</button>
    
        </form>
    </div>
</body>
</html>