<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <link rel="stylesheet" href="/styles.css"/>
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body class="mailContainer">
    <div class="image">
        <img src="/mail.svg" class="image"/>
    </div>
    <div class="mailForm">
        <div>
            <h3>Send Certificates as Mail.</h3>
            <p style="color: gray; font-size:smaller;">Add custom Subject and Body to the emails, that will be send to all winners.</p>
            <br/>
        </div>
        <form action="/admin/mailer" method="POST" >
            <input type="text" name="imagePath" value="<%= imagePath %>" class="d-none">
            <div>
                <input type="text" class="form-control" name="subject" placeholder="Subject">
            </div>
            <div style="margin-bottom: 10px;">
                <!-- <textarea type="text" class="form-control" name="body" placeholder="Body" style="width: 100%; height:300px;"></textarea> -->
                <!-- Create the editor container -->
                <div id="editor"  name="body" style="height:200px;">
                    <p>Dear Winners</p>
                    <p>Please Find attached your <strong>Certificate</strong>.</p>
                    <p><br></p>
                </div>
            </div>
            <button type="submit" class="genCertificates">Send Mails</button>
    
        </form>
    </div>


    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    </script>
</body>
</html>