<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Genrator</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="branding"><a href="https://hack2skill.com"><img class="brandlogo" src="/logo.png"/></a></div>
            <hr/>
            <br/>
            <div class="left__list">
                <div class="left__list__item">Step 1 - Create Variables<i class="fa-solid fa-angle-down"></i></div>
                <% if(uploadImage === true){%>
                    <div class="list__dropdown">
                        <div class="variable__list">
                           <button class="createVariable" id="createVariable"onclick="createVariable(this,'name')" disabled>Create Name Variable &nbsp; <i class="fa-solid fa-circle-plus"></i></button>
                           <button style="display: none;" class="createVariable" id="createVariable" onclick="removeVariable(this,'name')">Remove Name Variable &nbsp; <i class="fa-solid fa-circle-minus"></i></button>
                           
                           <button class="createVariable" id="createVariable"onclick="createVariable(this,'id')">Create Id Variable &nbsp; <i class="fa-solid fa-circle-plus"></i></button>
                           <button style="display: none;" class="createVariable" id="createVariable" onclick="removeVariable(this,'certificateId')">Remove Id Variable &nbsp; <i class="fa-solid fa-circle-minus"></i></button>

                           <button class="createVariable" id="createVariable"onclick="createVariable(this,'date')">Create Date Variable &nbsp; <i class="fa-solid fa-circle-plus"></i></button>
                           <button style="display: none;" class="createVariable" id="createVariable" onclick="removeVariable(this,'dateOfIssue')">Remove Date Variable &nbsp; <i class="fa-solid fa-circle-minus"></i></button>

                        </div>
                       <!-- Hidden Input to store variable id -->
                       <input id="currentVariable" value="" type="text" class="d-none"/>
                       <div style="display: flex; align-items: center; margin-top:15px; gap:5px;">
                        <input name="eventName" id="eventName" placeholder="Event Name" class="form-control" required/>
                        </div>
                       <div style="display: flex; align-items: center; margin-top:15px; gap:5px;">
                       <select id="font" style="width: 14rem;" class=" form-control" onclick="changeFont(this)" onchange="changeFont(this)">
                           <option>Poppins</option>
                           <option>Roberto</option>
                           <option>Arial</option>
                           <option>Dancing Script</option>
                           <option>Open Sans</option>
                       </select>
                       </div>
                       <div style="display: flex; align-items: center; margin-top:15px; gap:5px;">
                           <select id="align" style="width: 14rem;" class="form-control" onclick="changeAlign(this)" onchange="changeAlign(this)">
                               <option>Left</option>
                               <option>Right</option>
                               <option>Center</option>
                           </select>
                       </div>
                       <div style="display: flex; align-items: center; margin-top:15px; gap:5px;"> <input class="form-control" type="number" id="size" value="11" onchange="changeSize(this)"    onclick="changeSize(this)" style="width:70px;"/>
                        &nbsp;&nbsp;&nbsp; <input type="color" id="color" onclick="changeColor(this)" onchange="changeColor(this)"/></div>
                       <button class="genCertificates" onclick="handleSubmit()">Upload Template</button>
                   </div>
                <%}%>
                <div class="left__list__item">Step 2 - Upload CSV File <i class="fa-solid fa-angle-up"></i></div>
                <% if(uploadImage=== false){%>
                    <div class="list__dropdown">
                        <div class="alert-info">
                            Note:<br/>
                            Here is the link to a smaple CSV Template <a href="https://docs.google.com/spreadsheets/d/1M_Lo20PAvNtsTjjWTkJa212lJZpFQ0jdW2AVf82r4WE/edit#gid=0"><strong>Link</strong></a>.<br/>
                            Your csv file should follow the same CSV format.

                        </div>
                    </div>
                <%}%>
               </div>
           
        </div>
        
        <% if(uploadImage == true){%>
        <form action="" method="POST" enctype=multipart/form-data>
            <%}%>
        <div class="right">
            <!-- Image Dropper -->
            <div class="image__dropzone">
                <% if(uploadImage == true){%>
                <div id="drop-area" >
                        <input type="file" class="form-control" id="fileElem" name="file"accept="image/*" onchange="handleFiles(this.files)">
                        
                        <label class="button" for="fileElem" style="display: flex; flex-direction:column; align-items: center;">
                            <div style="font-size:xx-large ; color:gray;"><i class="fa-solid fa-upload"></i></div>
                            Click to Upload Certificate <strong>Image to get Started.</strong></label>
                        
                </div>
                <%}%>
                <% if(uploadImage === false){%>
                    
                    <form class="csv__upload" action="/upload-csv" method="POST" enctype="multipart/form-data">
                        <input type="text" name="eventName" value="<%= eventName %>" hidden>
                    <div class="dropper" onclick="clickUpload()" id="dropper" style="flex-direction: column;"> 
                        <div style="font-size:xx-large ; color:gray;"><i class="fa-solid fa-upload"></i></div>
                        Click HERE to upload CSV.</div>
                    <div class="dropper success" style="display: none;" id="success"> 
                        <div style="font-size: large;"><i class="fa-solid fa-circle-check"></i></div>
                        <div>File Uploaded Successfully.</div></div>
                    <div><input type="file" name="csv" id="up" class="d-none" accept=".csv"  onchange="changeContent()"></div>
                    <div><button type="submit" class="genCertificates my-5">Submit</button></div>
                    </form>
            <%}%>
            </div>
            <!-- Image Display -->
                <div id="gallery"><div>ll</div>
                </div>
            
        <div id="overlay" onclick="closeModal()">  </div>
        <div id="modal"> 
                <div style="margin-bottom: 20px;"><h2>Submit Changes</h2></div>
                <div><p>Continue to the next step to upload your CSV file.</p></div>
                <div>
                        
                        <input id="variableData" name="variableData" class="d-none" required/>
                        <button type="submit" class="genCertificates" style="margin: 20px;">Next Step</button>
                </div>
        </div>
        <% if(uploadImage == true){%>
        </form>
        <%}%>
    </div>
        
    </div>
    
    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



    <!-- Javascript -->
    <script>
        const changeAlign=(e)=>{
            const current_id = document.getElementById('currentVariable').value;
            document.getElementById(current_id).style.textAlign = e.value;
        }
        const changeColor=(e)=>{
            const current_id = document.getElementById('currentVariable').value;
            document.getElementById(current_id).style.color = e.value;
        }
        const changeSize=(e)=>{
            const current_id = document.getElementById('currentVariable').value;
            document.getElementById(current_id).style.fontSize = e.value + "px";
        }
        const changeFont=(e)=>{
            const current_id = document.getElementById('currentVariable').value;
            document.getElementById(current_id).style.fontFamily = e.value;
        }
        const removeVariable = (e, s)=>{
            document.getElementById(s).remove();
           e.style.display="none"
           e.previousElementSibling.style.display="block";
        }
        const createVariable =(e, s)=>{
            // Creating input field
            let variable = document.createElement('input');
            variable.classList.add('variable');
            variable.style.fontFamily = document.getElementById('font').value;
            variable.style.fontSize= document.getElementById('size').value+ "px";
            variable.style.color=document.getElementById('color').value;
            variable.style.textAlign=document.getElementById('align').value;
            variable.maxLength=20;
            if(s === 'name'){
                variable.value = 'name';
                e.style.display="none";
                e.nextElementSibling.style.display="block";
                variable.id="name";
                
            }else if(s=== 'id'){
                variable.value = 'certificateId'
                variable.id='certificateId';
                e.style.display="none";
                e.nextElementSibling.style.display="block";
            }else if(s=== 'date'){
                variable.value = 'dateOfIssue'
                variable.id='dateOfIssue'
                e.style.display="none";
                e.nextElementSibling.style.display="block";
            }
            variable.readOnly = true;

            // Event listeners on input field

            variable.addEventListener("mousedown",()=>{
                document.getElementById('currentVariable').value= variable.id;
            variable.addEventListener("mousemove",onDrag);
            })
            document.addEventListener("mouseup",()=>{
            variable.removeEventListener("mousemove",onDrag);
            });

            // Delete The input field
            variable.onkeydown = function() {
                var key = event.keyCode || event.charCode;
                let i = parseInt(variable.id)+1;
                let len = document.getElementById('gallery').children.length;
                if(key == 46 )
                    {
                        variable.remove();
                        for(i;i<len;i++){
                            document.getElementById(i).id = i-1;
                        }
                    }
            };

            document.getElementById('gallery').appendChild(variable);

            // On Drag Function
            function onDrag(e){
                let getStyle= window.getComputedStyle(variable);
                let left = parseInt(getStyle.left);
                let top = parseInt(getStyle.top);
                variable.style.left = `${(e.movementX +left)}px`;
                variable.style.top = `${(top + e.movementY)}px`;
            }
        }
    </script>
    <script>
        const closeModal =() =>{
            document.getElementById('overlay').style.display='none';
            document.getElementById('modal').style.display='none';
        }
        const handleSubmit=()=>{
            let variables =[];
            let variable__fonts =[];
            let variable__colors=[];
            let variable__sizes=[];
            let variable__aligns=[];
            let variable__tops=[];
            let variable__lefts=[];
            let len =document.getElementById('gallery').children.length;
            let gallery__top =document.getElementById('gallery').getBoundingClientRect().top;
            let gallery__left =document.getElementById('gallery').getBoundingClientRect().left;
            let vars =["name", "certificateId","dateOfIssue"]
            for(let i=1;i<len;i++){
                console.log();
                const inputVariable = document.getElementById('gallery').children[i];
                console.log(inputVariable);
                if(inputVariable){
                    variables.push(inputVariable.value);
                variable__fonts.push(inputVariable.style.fontFamily);
                variable__colors.push((inputVariable.style.color).slice(3));
                variable__sizes.push(inputVariable.style.fontSize);
                variable__aligns.push(inputVariable.style.textAlign);
                variable__tops.push(inputVariable.getBoundingClientRect().top -gallery__top);  
                if(inputVariable.style.textAlign === 'left'){
                    variable__lefts.push(inputVariable.getBoundingClientRect().left -gallery__left);  
                }else if(inputVariable.style.textAlign === 'right'){
                    console.log("variable width:",inputVariable.clientWidth);
                    variable__lefts.push((inputVariable.getBoundingClientRect().left + inputVariable.clientWidth ) -gallery__left);  
                }else if(inputVariable.style.textAlign === 'center'){
                    variable__lefts.push((inputVariable.getBoundingClientRect().left + (inputVariable.clientWidth/2)) -gallery__left);  
                }
                }
            }
            let eventName = document.getElementById('eventName').value;
            if(eventName === ''){
                alert("eventName is required.");
                return;
            }else{
            
            let submitObject ={
                variables: variables,
                fonts: variable__fonts,
                colors: variable__colors,
                sizes: variable__sizes,
                aligns: variable__aligns,
                tops: variable__tops,
                lefts: variable__lefts,
                eventName: eventName,
            }
            let myObj = JSON.stringify(submitObject);
            console.log(submitObject);
            document.getElementById('variableData').value = myObj

            document.getElementById('overlay').style.display ="flex";
            document.getElementById('modal').style.display ="flex";    
            }
        }
    </script>
    <script>
        // ************************ Drag and drop ***************** //
        let dropArea = document.getElementById("drop-area");

        // Prevent default drag behaviors
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)   
        document.body.addEventListener(eventName, preventDefaults, false)
        })

        // Handle dropped files
        dropArea.addEventListener('drop', handleDrop, false)

        function preventDefaults (e) {
        e.preventDefault()
        e.stopPropagation()
        }

        function handleDrop(e) {
        var dt = e.dataTransfer
        var files = dt.files

        handleFiles(files)
        }

        let uploadProgress = []

        function updateProgress(fileNumber, percent) {
        uploadProgress[fileNumber] = percent
        let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
        progressBar.value = total
        }

        function handleFiles(files) {
        files = [...files]
        files.forEach(previewFile)
        }

        function previewFile(file) {
        let reader = new FileReader()
        reader.readAsDataURL(file)
        
        reader.onloadend = function() {
            let img = document.createElement('img')
            img.src = reader.result;
            img.id='cert';
            document.getElementById('gallery').replaceChild(img, document.getElementById('gallery').childNodes[0]);
            document.getElementById('gallery').style.display ='block';
            document.getElementById('drop-area').style.display ='none';
            document.getElementById("createVariable").disabled= false;
        }
        }
    </script>
        <script>
            function clickUpload(){
                document.getElementById('up').click();
            }
            const changeContent=()=>{
               if(document.getElementById('up').value != ''){
                document.getElementById('dropper').style.display='none';
                document.getElementById('success').style.display='flex';
               }
            }
        </script>
        <script>
            const openDropdown= (e)=>{
                e.nextElementSibling.style.display='flex';

            }
        </script>
</body>
</html>



