@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    background-color: #F7FAFF;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.branding,
.brandlogo {
    width: 120px;
    margin-bottom: 10px;
}

.heading {
    font-weight: 600;
    font-size: larger;
}

.left {
    width: 290px;
    height: 100vh;
    /* background-color: #0D0E10; */
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}

.note {
    width: 500px;
    margin: 50px auto;
    font-size: 1.1em;
    color: #333;
    text-align: justify;
}

#drop-area {
    border: 2px dashed rgb(182, 181, 181);
    border-radius: 20px;
    width: 800px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    font-size: small;
    color: rgb(153, 153, 153);
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    width: 800px;
    height: 600px;
    margin: 30px auto;
    position: relative;
}

#cert {
    width: 100%;
    vertical-align: middle;
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#fileElem {
    display: none;
}

#gallery {
    display: none;
}

.right {
    width: 80vw;
}

.variable__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.my-3 {
    margin: 3px 0px;
}

.genCertificates {
    background-color: rgb(105, 105, 205);
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(7, 7, 7);
    opacity: 20%;
    display: none;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
}

#modal {
    width: 500px;
    height: 200px;
    background-color: white;
    z-index: 30;
    position: absolute;
    top: 35%;
    left: 35%;
    display: none;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;

}

#csvForm {
    display: flex;
    flex-direction: column;
    gap: 3;
}

.createVariable {
    color: rgb(105, 105, 205);
    border-color: rgb(105, 105, 205);
    background-color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.createVariable:hover {
    background-color: rgb(105, 105, 205);
    color: white;
}

.variable {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    min-height: 20px;
    height: fit-content;
    min-width: 200px;
    width: max-content;
    background-color: transparent;
    resize: both;
    border: 1px solid rgb(105, 105, 205);
    border-radius: 2px;
}

.d-none {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 5px;
    border: 1px dashed;
    border-radius: 5px;
    margin-top: 5px;
    width: 220px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 15px;
}

input[type='color'] {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card {
    min-width: 500px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.pCard {
    position: relative;
    padding: 0 !important;
    border-radius: 0 !important;
}

.actions {
    display: flex;
    gap: 1rem;
    justify-content: end;
    padding: 0.5rem;
    margin-left: -45px;
    margin-bottom: -550px;
    z-index: 2;
}

.circle {
    border-radius: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0 !important;
}